/* You can add global styles to this file, and also import other style files */
:root {
  --font-main: 'Inter', sans-serif;
}

/* Fuente global */
html, body {
  font-family: var(--font-main);
  font-size: 15px;
  font-weight: 400;
  background: #fafafa;
  color: #1e1e1e;
}
